@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
body {
    font-family: Raleway;
}
.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.tabs .tab a:hover, .tabs .tab a.active {
    background-color: #E0F2F1;
}
.tabs .tab a:focus, .tabs .tab a:focus.active {
    background-color: #E0F2F1;
}
.tabs .indicator {
    background-color: #42A5F5 ;
}
.flashes h4 {
    line-height: 2;
}
.btn-large {
    font-size: larger;
}
.btn-small {
    margin: 5px;
}

.collapsible-header .col {
    margin: 5px;
    line-height: 42px;
}
tr {
    border-bottom: transparent;
}
.home {
    margin-top: 10%;
    box-shadow: 0 0 20px 5px rgb(13, 71, 161, 0.5);
}
.nav-wrapper {
    margin: 0 5%;
}
.brand-logo {
    width: 100%;
}