{% extends "base.html" %}
{% block content %}

    <h3 class="blue-text text-darken-4 center-align">Add Workout</h3>

    <div class="row card-panel grey lighten-5">
        <!--Create new workout-->
        <form class="col s12" id="workoutForm" method="POST" action="{{ url_for('add_workout') }}">
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pencil-alt prefix blue-text text-darken-4"></i>
                    <input id="exercise_heading" name="exercise_heading" type="text" class="validate" required
                        minlength="5" maxlength="30">
                    <label for="exercise_heading">Workout Heading</label>
                    <small><i>minlength:5 maxlength:30</i></small>
                </div>
            </div>
            <!--Workout date-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-calendar-day prefix blue-text text-darken-4"></i>
                    <input id="exercise_date" name="exercise_date" type="text" class="datepicker validate" required>
                    <label for="exercise_date">Workout Date</label>
                </div>
            </div>
            <!--Workout name, sets, reps and weight-->
            
                
            <table id="exerciseRow" class="responsive-table centered">
                <div class="row">
                    <div class="col s8 m12">
                <tbody>
                    <tr>
                        <td id="col0">
                            <input id="exercise_name" name="exercise_name" type="text" class="validate" minlength="5" max="500"
                                maxlength="15" placeholder="Exercise Name" required>
                        </td>
                        <td id="col1">
                            <input id="exercise_reps" name="exercise_reps" type="number" class="validate" min="1" max="500"
                                placeholder="Reps" required>
                        </td>
                        <td id="col2">
                            <input id="exercise_sets" name="exercise_sets" type="number" class="validate" min="1" max="500"
                                placeholder="Sets" required>
                        </td>
                        <td id="col3">
                            <input id="exercise_weight" name="exercise_weight" type="number" class="validate" min="1" max="500"
                                placeholder="Weight" required>
                        </td>
                        <td id="col4">
                            <input type="button" class="btn-small red" value="Delete Exercise" onclick="deleteRow()">
                        </td>
                        <td id="col5">
                            <input type="button" class="btn-small blue darken-4" value="Add Exercise"
                                onclick="addRow()">
                        </td>

                    </tr>
                </tbody>
            </div>
            </div>
            </table>
            <br>
            <!--Submit Button-->
            <div class="row">
                <div class="col s12 center-align">
                    <a class="btn-large red text-shadow" onclick="resetForm()">
                        Reset
                    </a>
                    <button type="submit" class="btn-large blue darken-4 text-shadow"
                        href="{{ url_for('get_overview') }}">
                        Add Workout
                    </button>
                </div>
            </div>
        </form>

    </div>


{% endblock %}
