{% extends "base.html" %}
{% block content %}

    <section>
        <div">
            <img src="" alt="">
        </div>
        <div class="right">
            <h3 class="">Question Heading</h3>
            <h3 class="">Bigger Answer Header</h3>
            <a type="button" href="{{ url_for('account') }}" class="col s6 btn-large cyan lighten-1 black-text center-align">Start Now</a>
        </div>
    </section>
    <section>
        <div class="left hide-on-med-and-down row">
            <p class="col s6">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec consectetur felis, ut consequat mi.
                Aliquam et porta nibh, eu placerat ex. Etiam faucibus risus vel dignissim sodales. Nunc elementum lectus
                ipsum, at efficitur nibh interdum ut. Aenean vestibulum ut tellus quis ullamcorper. Pellentesque
                volutpat mi in metus scelerisque volutpat. Phasellus ultricies eget felis vel volutpat. Aenean placerat,
                felis ut porttitor pretium, massa enim pretium ex, a fermentum mi massa sed felis. Praesent faucibus
                massa ac volutpat bibendum. Proin finibus sapien ut dolor maximus consequat vel ut felis. Suspendisse
                sit amet elit ac quam lobortis luctus. Proin feugiat convallis justo nec semper. Nullam eget leo
                posuere, fermentum mi id, molestie urna. Integer feugiat tortor vitae est consectetur, imperdiet
                pellentesque tortor mattis.
            </p>
            <img src="" alt="">
        </div>
    </section>

{% endblock %}