{% extends "base.html" %}
{% block content %}

    <h3 class="blue-text text-darken-4 center-align">Overview</h3>

    <ul class="collapsible">
        {% for session in sessions %}
        <li>
            <div class="collapsible-header white-text blue lighten-1">
                <div class="col s2">
                    <i class="fas fa-caret-down text-shadow"></i>
                    <a href="" class="btn-small orange lighten-1 right-align">Edit</a>
                </div>
                <div class="col s6">
                    <strong>{{ session.exercise_heading}}</strong> : {{ session.exercise_date}}
                </div>
            </div>
            <div class="collapsible-body">

                <div class="row">
                    <strong class="col s3">{{ session.exercise_name }}:</strong>
                    <div class="col s3">{{ session.exercise_reps}} reps</div>
                    <div class="col s3">{{ session.exercise_sets}} sets</div>
                    <div class="col s3">{{ session.exercise_weight}} kg's</div>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
{% endblock %}