{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col s12 m8 offset-m2">
            <h1 class="center-align blue-text text-darken-4">
                Profile
            </h1>
            <div class="row">
                <div class="col s12 center-align">
                    <a class="btn-large orange lighten-1 black-text" href="{{ url_for('add_record') }}">
                        Add Record <i class="fas fa-edit"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <ul class="collapsible">
                {% for record in records %}
                <li>
                    {% if session.user|lower == record.created_by|lower %}
                    <div class="collapsible-header white-text blue darken-1">
                        <div>
                            <i class="fas fa-caret-down text-shadow"></i>
                        </div>
                        <div class="col s12">
                            {{ record.date_added }}
                        </div>
                        <div class="col s12 right-align">
                            <a href="{{ url_for('delete_record', record_id=record._id )}}" type="button"
                                class="btn-small red right-align" id="userDelete"
                                onclick="return confirm('Press OK to Delete Record');">
                                Delete
                            </a>
                            <a href="{{ url_for('edit_record', record_id=record._id )}}"
                                class="btn-small orange lighten-1 black-text">
                                Edit
                            </a>
                        </div>
                    </div>
                    <!--User Saved records-->
                    <div class="collapsible-body">
                        <div class="row">
                            <strong class="col s3">{{ record.user_fullName }}</strong>
                            <div class="col s3">{{ record.user_height }} cm's</div>
                            <div class="col s3">{{ record.user_weight }} kg's</div>
                        </div>
                    </div>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}