{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col s12 m8 offset-m2">
            <h1 class="center-align blue-text text-darken-4">
                Profile
            </h1>
            <div class="row">
                <div class="col s12 center-align">
                    <a type="submit" id="accountBtn" class="btn-large orange lighten-1 black-text" href="{{ url_for('add_record')}}">
                        Edit {{ username }}'s' Profile <i class="fas fa-edit"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row card">
        {% for record in records %}
        <table>
            <thead>
              <tr>
                  <th></th>
                  <th>Height</th>
                  <th>Weight</th>
                  <th>Date</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ record.user_fullName }}</td>
                <td>{{ record.user_height }} cm's</td>
                <td> {{ record.user_weight }} kg's</td>
                <td>{{ record.date_added }}</td>
              </tr>
            </tbody>
          </table>
        {% endfor %}
    </div>

{% endblock %}